<section class="about-section">
  <div class="container">
    <div class="text-center">
      <div class="profile-picture">
        <img [src]= "vectImage"  (mouseover)="changeImage()" (mouseout)="revImage()"alt="Profile Picture" class="img-fluid rounded-circle shadow ">
      </div>
    </div>
    <div class="about-content">
      <h2 class="about-heading text-center dc">Hi, I'm Kunal Tripathi</h2>
      <p class="about-description text-center c">
        I'm a passionate and creative web developer based in New Delhi. I have a strong background in front-end and back-end web development,
        and I'm constantly learning and exploring new technologies to enhance my skills. My journey in web development began several years ago
        when I built my first website. Since then, I've been captivated by the endless possibilities of the web and the power it has to connect people globally.
      </p>
      <br>
      <br>
     
    </div>
  </div>
</section>
