
/* @import '~@fortawesome/fontawesome-free/css/all.min.css'; */
body {
    background-image: url('https://i.makeagif.com/media/9-14-2021/3XxbIh.gif');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  body {
    color: #333;
  }
  
  a{
    color: #fff;
  }
  