<div class="body-content">
  <h2>
    <p>Hi there,</p>
    <p>I am <span class="name">Kunal Tripathi</span></p>
    <p class="dev">I am into <span class="web">Web Devolopment</span></p>
    <p><button class="action-button" (click)="onClick()">About Me</button></p>
  </h2>
  <div class="social-logos" [hidden]="isShown">
    <a href="#" target="_blank">
      <img
        src="assets/instagram.jpeg"
        class="log"
        alt="Instagram"
      />
    </a>
    <a href="#" target="_blank">
      <img
        src="assets/twitter.jpg"
        class="log"
        alt="Twitter"
      />
    </a>
    <a href="#" target="_blank">
      <img
        src="assets/github.jpeg"
        class="log"
        alt="GitHub"
      />
    </a>
    <a href="#" target="_blank">
      <img
        src="assets/download.jpeg"
        class="log"
        alt="LinkedIn"
      />
    </a>
    <a href="#" target="_blank">
      <img
        src="assets/discord.jpg"
        class="log"
        alt="Discord"
      />
    </a>

    <a href="#" target="_blank">
      <img
        src="assets/telegram.jpg"
        class="log"
        alt="Telegram"
      />
    </a>
  </div>

  <img
    src="assets/main_image.jpeg"
    class="right-image"
    alt="Description of the image"
  />
</div>
